@model List<Game>
@{
    ViewData["Title"] = "GameList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Admin Products</h1>
<hr />
@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width:30px;">Id</td>
                <td style="width:100px;">Image</td>
                <td>Name</td>
                <td>Description</td>
                <td>Categories</td>
                <td style="width:12px;">Price</td>
                <td style="width:150px;"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>
                    <img src="~/img/@item.Image" width="80" />
                </td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @foreach (var item2 in item.CategoryGames)
                    {
                        @item2.Category.Name <hr />
                    }
                </td>
                @if (@item.Price == 0)
                {
                    <td>
                        Free
                    </td>
                }
                else
                {
            <td>
                @item.Price
            </td>
                    
                }
                <td>
                    <a class="btn btn-primary btn-sm mr-2" href="/admin/game/@item.Id">Edit</a>
                    <form asp-controller="Admin" asp-action="DeleteGame" method="post" style="display:inline">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No Products</h4>
    </div>
}